/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here */

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 24px;
	font-weight: 600;
	color: white;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	color: #033048;
}

p {
	font-size: 13px;
	font-weight: 300;
}

ul {
	font-size: 13px;
	font-weight: 300;
	list-style: decimal;
}

header {
	height: 700px;
	background-image: url('./images/header_bg.jpg');
	background-size: cover;
}

footer {
	height: 350px;
	background-color: #121212;
}

.copyright {
	font-size: 9px;
	font-weight: 600;
	text-align: center;
	color: white;
	padding: 35px;
}

.button {
	border-radius: 5px;
	font-weight: 800;
	text-align: center;
	padding: 10px;
}

#button-yellow {
	background-color: #f9e42e;
	font-size: 14px;
	color: #033048;
}

#button-blue {
	background-color: #033048;
	font-size: 12px;
	color: white;
	height: 30px;
	width: 150px;
}

.separator {
	height: 120px;
	background-color: #f9e42e;
	vertical-align: center;
}

.logo {
	font-size: 24px;
	font-weight: 800;
}

#logo-white {
	color: white;
}

#logo-yellow {
	color: #f9e42e;
	padding: 35px;
	text-align: center;
}

.main-content {
	height: 612px;
}

.testimonial {
	height: 395px;
	background-image: url('./images/testimonial_bg.jpg');
	background-size: cover;
	font-size: 18px;
	color: white;
	text-align: center;
}

#quote {
	font-weight: 300;
}

#client {
	font-weight: 300;
	font-style: italic;
}

.social {
	text-align: center;
	padding: 35px;
}